@use 'utils/utils-forward';
@use 'utils/variables';
@use 'utils/mixins';

main {
    padding: 90px 0;
}

.header {
    overflow-x: hidden;
    width: 100%;
    padding: 10px 0;
    color: variables.$subtext-color;
    background-color: variables.$main-color;
}

.header__wrapper {
    @include mixins.wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link {
    font-family: 'Philosopher Bold', serif;
    color: variables.$subtext-color;
    font-size: 3rem;

    @media screen and (min-width: 959px) {
        font-size: 5.25rem;
    }

    &:hover {
        text-decoration: none;
        color: variables.$background-color;
    }
}

.header__btn {
    border-radius: 60px;
    padding: 14.5px 13px;    
}

.header__burger {
    @media screen and (min-width: 959px) {
        width: 30px;
    }
}

/*----------------------------------------------------------------*/

.template__box {
    height: 300px;
    width: 100%;
    border-radius: 10%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 70px);
}

.template__item {
    border: solid black 2px;
}

.template__item1 {
    grid-row: span 3;
    background-color: red;
    border-radius: 10% 0 0 0;
}

.template__item2 {
    grid-column: span 2;
    background-color: yellow;
}

.template__item3 {
    background-color: red;
    grid-row: span 2;
    border-radius: 0 10% 0 0;
}

.template__item4 {
    grid-row: span 2;
}

.template__item5 {
    grid-row: span 2;
}

.template__item8 {
    grid-column: span 2;
}

.template__item9 {
   grid-row: span 2;
}

.template__item11 {
    grid-row: span 2;
    grid-column: span 2;
    background-color: blue;
}

.template__item12 {
    background-color: black;
    border-radius: 0 0 0 10%;
}

.template__item13 {
    background-color: yellow;
    border-radius: 0 0 10% 0;
}

.dashboard {
    margin: 60px;
    padding: 20px;
    border: solid blue 2px;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.dashboard__aside {
    display: grid;
    gap: 20px;
}

.dashboard__main {
    padding: 20px;
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px;
    justify-items: center;
    
}

.graph1 {
    grid-column: span 6;
}

.graph2 {
    grid-column: span 2;
}

.graph3 {
    grid-column: span 2;
}

.graph4 {
    grid-column: span 2;
}

.graph5 {
    grid-column: span 3;
}

.graph6 {
    grid-column: span 3;
}

.gallery {
    margin-top: 100px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery>div {
    display: grid;
    place-items: center;
    grid-template-areas: 
    "link";
    width: 100%;
    border: 2px black solid;
}

.gallery>div>img {
    width: 100%;
    aspect-ratio: 1 / 1;
    grid-area: link;
}

.gallery>div>a {
    grid-area: link;
    font-size: 3rem;
}

.gallery>div>a:hover {
    color:aliceblue;
    font-size: 5rem;
    transition: 0.3s;
}

/*----------------------------------------------------------------*/

.footer {
    overflow-x: hidden;
    position: sticky;
    top: 100vh;
    
}

.footer__title {
    @include mixins.wrapper;
    margin-top: 90px;
}

.footer__info {
    position: relative;
    margin-top: 40px;
}

.footer__map {
    width: 100%;
}

.footer__background {
    background: variables.$main-color;
    padding: 34px 0 73px 0;
}

.footer__list {
    margin-inline: 45px;
    font-family: 'Philosopher', serif;
    color: variables.$subtext-color;

    @media screen and (min-width: 1159px) {
        font-size: 2rem;
    }
}

.footer__item {
    line-height: 180%;

    &>a:hover {
        color: variables.$text-color;
    }

    &--last {
        margin-top: 16px;
    }
}







