@use '../utils/variables';

:root {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: variables.$background-color;
    font-size: 1.6rem;
    color: variables.$text-color;
}

main {
    font-family: "Philosopher Bold", serif;
    button {
        padding: 24px 0;
        width: 100%;
    }
}

button {
    font-family: 'Inter', sans-serif;
    line-height: 120%;
    border-radius: 10px;
    color: variables.$subtext-color;
    background: variables.$main-color;
    letter-spacing: -0.32px;
}

h1 {
    font-size: 3.4rem;
}

h2 {
    font-family: 'Philosopher Italic', serif;
    font-size: 3.8rem;
}

input {
    border-radius: 60px;
    padding: 16px;
}
