@mixin wrapper {
    min-width: 300px;
    margin-inline: 45px;
    overflow-x: hidden;
    @media screen and (min-width: 1440px) {
        min-width: 1170px;
        margin-inline: 140px;
        overflow-x: hidden;
    }
}