@font-face {
    font-family: "Inter";
    font-weight: 300;
    font-style: normal;
    src: url('../../fonts/Inter-Light.ttf') format('ttf'),
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    src: url('../../fonts/Inter-Regular.ttf') format('ttf'),
}

@font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    src: url('../../fonts/Inter-Medium.ttf') format('ttf'),
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
    src: url('../../fonts/Inter-SemiBold.ttf') format('ttf'),
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    src: url('../../fonts/Inter-Bold.ttf') format('ttf'),
}

@font-face {
    font-family: "Philosopher";
    font-weight: 400;
    font-style: normal;
    src: url('../../fonts/Philosopher-Regular.ttf') format('ttf'),
}

@font-face {
    font-family: "Philosopher";
    font-weight: 400;
    font-style: italic;
    src: url('../../fonts/Philosopher-Italic.ttf') format('ttf'),
}

@font-face {
    font-family: "Philosopher";
    font-weight: 700;
    font-style: normal;
    src: url('../../fonts/Philosopher-Bold.ttf') format('ttf'),
}

@font-face {
    font-family: "VelaSans";
    font-weight: 400;
    font-style: normal;
    src: url('../../fonts/VelaSans-Regular.ttf') format('ttf'),
}