@use '../utils/variables';

.about-us__item {
    font-family: 'Inter Light', sans-serif;
    font-size: 1.8rem;
}

.about-us__span {
    font-family: 'Philosopher Bold', serif;
    color: variables.$main-color;
    font-size: 7rem;
}

.about-us__item:last-child {
    .about-us__span{
        font-size: 3rem;
    }
}

