@use '../utils/variables';
@use '../utils/mixins';

.action {
    font-family: 'Inter Light', sans-serif;
    color: variables.$subtext-color;
    background-color:variables.$subbackground-color;
    padding: 55px 0 90px 0;
}

.action__wrapper {
    @include mixins.wrapper;
}

.action__form {
    display: flex;
    flex-direction: column;
}

.action__name-title {
    font-size: 3.2rem;
    font-family: 'Inter Light', sans-serif;
    letter-spacing: -1.92px;
}

.action__title-about {
    font-size: 2.4rem;
    letter-spacing: -1.44px;
}

.action__title-answer {
    font-family: 'Philosopher Italic', serif;
    font-size: 3.2rem;
}

.action__input-name {
    margin-top: 50px;
}

.action__input-telephone {
    margin-top: 20px;
}

.action__input-comment {
    margin-top: 20px;
}

.action__condition {
    line-height: 120%;
    font-size: 1rem;
    margin-top: 15px;
}

.action__link {
    color: variables.$main-color;
}

.action__btn {
    margin-top: 23px;
}

