@use '../utils/variables';
@use '../utils/mixins';

.header {
    background-color: variables.$subbackground-color;
    padding-top: 25px;
}

.header__wrapper {
    @include mixins.wrapper;
    display: flex;
    justify-content: space-between;
}

.header__link {
    font-family: 'Philosopher Bold', serif;
    color: variables.$subtext-color;
    font-size: 4rem;
}

.header__btn {
    border-radius: 60px;
    padding: 16px 13.7px;
}