@use '../utils/variables';
@use '../utils/mixins';

.instruction {
    overflow-x:hidden;
}

.instruction__wrapper {
    @include mixins.wrapper;
    display: flex;
    flex-direction: column;
}

.instruction__title {
    margin-top: 35px;
}

.instruction__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    gap: 35px;

    @media screen and (min-width: 1020px) {
        flex-direction: row;
        justify-content: space-around;
    }
}

.instruction__item {
    background: variables.$subtext-color;
    border-radius: 20px;
    height: 406px;
    padding: 45px 13px;
    max-width: 300px;

    @media screen and (min-width: 1159px) {
        max-width: 350px;
    }
}

.instruction__about {
    padding-left: 12px;
}

.instruction__info {
    font-family: 'Inter', sans-serif;

    @media screen and (min-width: 1159px) {
        font-size: 2rem;
    }
}

.instruction__list-title {
    font-size: 2.8rem;

    @media screen and (min-width: 1159px) {
        font-size: 3.4rem;
    }
}

.instruction__img {
    display: block;
    margin: 0 auto 45px auto;
}

.instruction__svg {
    width: 100%;
}

.instruction__list-title {
    margin: 17px 0;
}

.instruction__btn {
    margin-top: 35px;
}
