@use '../utils/variables';

.landing {
    color: variables.$subtext-color;
}

.landing__material-title {
    font-size: 4rem;
}

.landing__from-title {
    font-size: 3.4rem;
}

.landing__list-item {
    font-size: 1.8rem;
}