@use '../utils/variables';

.landing {
    font-family: 'Inter Light', sans-serif;
    color: variables.$subtext-color;
}

.landing__material-title {
    font-family: 'Philosopher Italic', serif;
    font-size: 4rem;
}

.landing__from-title {
    font-size: 3.4rem;
}

.landing__list-item {
    font-size: 1.8rem;
}

.landing__list-icon {
    background: variables.$main-color;
    border-radius: 50%;
}

