@use '../utils/variables';
@use '../utils/mixins';

.landing {
    overflow:hidden;
    font-family: 'Inter Light', sans-serif;
    color: variables.$subtext-color;
    background-color: variables.$subbackground-color;
    padding-top: 130px;
    background-image: url(../../image/background_landing.webp);
    background-position: 57%;
    background-size: cover;
}

.landing__wrapper {
    @include mixins.wrapper;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.landing__title {
    max-width: 600px;
}

@media screen and (min-width: 1159px) {
    .landing__title {
        max-width: 887px;
    }
}

.landing__name-title {
    letter-spacing: -2.04px;
}

@media screen and (min-width: 1159px) {
    .landing__name-title {
        font-size: 5rem;
    }
}

@media screen and (min-width: 1159px){
    .landing__svg {
        width: 358px;
    }
}

.landing__material-title {
    font-family: 'Philosopher Italic', serif;
    font-size: 3.8rem;
}

@media screen and (min-width: 1159px) {
    .landing__material-title {
        font-size: 8rem;
    }
}

.landing__from-title {
    font-size: 3.4rem;
    text-align: right;
    letter-spacing: -2.04px;
}

@media screen and (min-width: 1159px) {
    .landing__from-title {
        font-size: 5rem;
    }
}

.landing__btn {
    margin-top: 40px;
    max-width: 560px;
}

.landing__list {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 16px;
}

@media screen and (min-width: 733px) {
    .landing__list {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

.landing__list-item {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    letter-spacing: -1.08px;
    gap: 16px;
}

@media screen and (min-width: 1159px) {
    .landing__list-item {
        font-size: 2.6rem;
    }
}

.landing__list-icon {
    background: variables.$main-color;
    border-radius: 50%;
    width: 60px;
    padding: 13px;
    overflow: visible;
}

.landing__decor {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    margin-bottom: -20px;
}

@media screen and (min-width: 1365px) {
    .landing__decor {
        width: 110%;
        margin-bottom: -30px;
    }
}